@font-face {
    font-family: DiatypeMono;
    src: url("/public/assets/fonts/ABC Diatype/ABC Diatype Mono Variable/ABCDiatypeMonoVariable-Trial.woff");
    /* https://abcdinamo.com/typefaces/diatype */
}

* {
    margin: 0px;
    padding: 0px;
    font-family: DiatypeMono;
    text-align: left;
    scrollbar-width: none;
}

a:visited {
    color: black;
}

ul {
    list-style: none;
}

#root {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

#SidePanel {
    width: 30vw;
    border: 1px solid;
    border-color: transparent black transparent transparent;
}

#display {
    width: 70vw;
}

#display,
#SidePanel {
    padding: .5rem;
    overflow: auto;

}

#thumbnail {
    position: fixed;
    bottom: 10px;
    left: 350px;
    display: none;
    z-index: -1;
    width: 300px;

}

#header {
    display: flex;
    flex-direction: column;
}

#siteTitle {
    display: flex;
    flex-direction: row;
    height: 1rem;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
    border-color: transparent transparent black transparent;
    padding: 0px 2rem 4px 0px;
}

#siteTitle h1 {
    font-size: 11px;
    font-weight: 400;
    cursor: pointer;
}

#siteTitle:hover img {
    opacity: 1;
}

#siteTitle img {
    height: 100%;
    width: auto;
    margin-bottom: 10px;
    opacity: 0;
}

#navBar {
    display: flex;
    flex-direction: column;
    font-size: 11px;
    font-weight: 400;
    border: 1px solid;
    border-color: transparent transparent black transparent;
    padding: 4px 0px;
}

#navBar a {
    text-decoration: none;
}

.year-section {
    font-size: 11px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-color: transparent transparent black transparent;

}

.year-section>span {
    padding-block: 5px;
    border: 1px solid;
    border-color: transparent transparent black transparent;
}

.year-section ul {
    padding-block: 5px;
}

.year-section li {
    display: grid;
    grid-template-columns: 80% 20%;
    padding: 0px 3rem;
    cursor: pointer;
}

#COPYRIGHT {
    font-size: 11px;
    padding: 5px 0px 100px 0px;
}

#display {
    display: flex;
    flex-direction: column;
}

#ProjectData {
    display: flex;
    flex-direction: column;
    font-size: 11px;
    font-weight: 400;
}

#ProjectData div {
    display: flex;
    flex-direction: row;
    padding: 5px 0px;
    flex-wrap: wrap;
}

#ProjectData div span {
    width: 50%;
}

#ProjectData>span {
    border: 1px solid;
    border-color: transparent transparent black transparent;
    padding: 0px 0px 5px 0px;
}

#ProjectView img {
    width: 100%;
    padding-top: 10px;
}